@charset "UTF-8";
.container {
	width: auto;
	margin: 100px;
	text-align: center;
}

.input-group-text {
	width: 95px;
	text-align: center;
}

.wrap {
	position: relative;
	width: 800px;
	margin: 0 auto;
	font-size: 12px;
}

.wrap_header {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(- -skinLayoutBorder);
}

.CommentBox {
	margin-top: 30px;
	border-top: 1px solid var(- -skinLayoutBorder);
	width: 100%;
	text-align: center;
}

.CommentWriter {
	margin: 12px 0 29px;
	padding: 16px 10px 10px 18px;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 6px;
	box-sizing: border-box;
	background: var(- -skinCommentWriterBg);
}

.blind {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.CommentBox .CommentWriter {
	margin-top: 10px;
	height: 100px;
}

.CommentWriter .comment_inbox_text {
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	width: 100%;
	min-height: 17px;
	padding-right: 1px;
	border: 0;
	font-size: 13px;
	-webkit-appearance: none;
	resize: none;
	box-sizing: border-box;
	background: transparent;
	color: var(- -skinTextColor);
	outline: 0;
}

.CommentWriter .register_box {
	float: right;
}

textarea.comment_inbox_text[data-v-79bd409c] {
	max-height: 500px;
}

.CommentWriter .register_box .button {
	display: inline-block;
	min-width: 46px;
	height: 34px;
	line-height: 36px;
	font-size: 13px;
	color: var(- -skinCommentWriterText);
	border-radius: 6px;
	box-sizing: border-box;
	font-weight: 700;
	text-align: center;
	vertical-align: top;
}